.card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#gameWindow {
    padding: 5%;
    width: 30vw;
    height: 30vw;
    background-color: #667eea;
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#gameThumbnail {
    width: 80%;
    height: 50%;
    background-color: blue;
}

#buttons {
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
